body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #2b2b2b;
    font-weight: 300;
}

.container {

    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.first-sec {
    background: url(./img/bg-img1.jpg);
    height: 800px;
    background-size: cover;
    background-position: center 0px;
    position: relative;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header-side {
    display: flex;
}

.nav-bar a {

    color: #fff;
    font-weight: 300;
}

.nav-side {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;

}

.logo {
    cursor: pointer;
}

.visible-title {
    visibility: visible;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.text--black {
    color: black !important;
}

.fixed-navbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 99;
}


.icon {
    position: relative;
    height: 70px;
    width: 70px;
    font-size: 22px;
    background: #00bcd4;
    border-radius: 50%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.icon i {
    position: absolute;
    top: calc(70px - 44px);
    left: calc(70px - 44px);
}

.block h2 {
    margin: 0;
    font-size: 55px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
}

.block p {
    color: #fff;
    line-height: 1.2;
}

.learn-more-btn {
    display: inline-block;
}

.block {
    /* width: 100%; */
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.btn {
    font-size: 14px;
    padding: 9px 34px;
    border-radius: 0;
    border: 2px solid transparent;
    font-weight: 500;
    cursor: pointer;
    transition: 2s;
}

.bg-color {
    background: #00bcd4;
    border-color: #00bcd4;
    color: #ffffff;
    margin-right: 5px;

}

.bg-color:hover {
    background: transparent;
    color: #00bcd4;
}

.bg-transparent {
    background: transparent;
    border-color: #fff;
    color: #fff;

}

.bg-transparent:hover {
    background: #fff;
    color: black;
}

.icon a {
    color: #fff;
}

.side-icon {
    position: absolute;
    top: 20px;
    right: 16px;
    color: white;
    width: 36px;
    padding: 6px;
    cursor: pointer;
}

.icon a::after {
    position: absolute;
    content: '';
    bottom: -7px;
    top: -7px;
    left: -7px;
    right: -7px;
    background-color: transparent;
    border-radius: 50%;
    border: 15px solid #fff;
    margin: 0px;
    opacity: 0.5;
    transform-origin: center;
    animation: anim 1s infinite;
}

.icon a::before {
    position: absolute;
    content: '';
    bottom: -7px;
    top: -7px;
    left: -7px;
    right: -7px;
    background-color: transparent;
    border-radius: 50%;
    border: 15px solid transparent;
    margin: 0px;
    opacity: 0.8;
    transform-origin: center;
    animation: anim 1s infinite;
}

@keyframes anim {
    from {
        margin: 0px;
        opacity: 0.8;
    }

    to {
        margin: -17px;
        opacity: 0;
    }
}



.menu-none {
    width: 40%;
    height: 100vh;
    background: #00bcd4;
    position: fixed;
    right: -40%;
    top: 0;
    overflow-y: auto;
    z-index: 999;
    transition: right 1s;
}

.show {
    display: block;
}

.menu-none a {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: normal;
}

.inner-style {
    padding: 75px;
}

.menu-none ul {
    margin: 0;
    padding: 0;

}

.menu-none li {
    padding-bottom: 22px;
}

.menu-none-icon {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 100px;
    border-radius: 50%;
    padding-top: 22px;
}

.menu-none-icon i {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    border: 1px solid transparent;
    text-align: center;
    width: 35px;
    cursor: pointer;
}

.menu-none-icon,
.menu-none p {
    color: rgb(255, 255, 255);
}

.menu-none p {
    padding-top: 12px;
    font-size: 13px;
}

.close-icon i {
    color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 12px;
    font-size: 30px;
    cursor: pointer;
}

.menu-none-icon i:hover {
    background-color: white;
    border-radius: 50%;
    color: #4267B2;
}

.second-sec {
    display: flex;
    /* padding: 7rem; */
}

.left-dec {
    width: 50%;
    padding: 32px 0;

}

.ul-padding {
    padding: 0;
}

.right-dec {
    width: 50%;
}

.right-dec img {
    width: 100%;
}

.manage-progress h6 {
    font-size: 16px;
}

.progress {
    width: 100%;
    background: #EAEAF3;
    border-radius: 50px;
    height: 12px;
}

.bar {
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    border-radius: 50px;
    height: 100%;
}

.get-started-btn {
    margin: 35px 0;
    padding: 9px 32px;
    color: black;
    background: transparent;
    border: 2px solid black;
    font-size: 14px;
    font-weight: 500;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.get-started-btn:hover {
    background: #2b2b2b;
    color: #ffffff;
}

.left-dec h6 {
    color: #00bcd4;
    font-size: 16px;
    font-weight: 500;
}

.left-dec h2 {
    font-size: 48px;
    font-weight: 500;
}

.left-dec p {
    color: #6d6d6d;
    text-align: justify;
    max-width: 700px;
    margin: 0 auto;
}

.left-dec-padding {
    padding: 0 80px;
    letter-spacing: 1px;
}

.manage-progress h6 {
    font-size: 16px;
    font-weight: 500;
    color: #2b2b2b;
    margin: 0;
    line-height: 2;
}

.manage-progress li {
    margin-bottom: 32px;
}

.manage-progress span {
    float: right;
}

.third-sec {
    background-color: #f8f9fa;
    padding-bottom: 6rem;
}

.services {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0;
}

.services h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.services h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 16px;
}

.services p {
    line-height: 1.5;
    color: #6d6d6d;
    max-width: 720px;
    margin: 0 auto;
    letter-spacing: 1px;
}

.main-row {
    display: flex;
    flex-direction: row;
    padding: 0 12px;
}

.row-3 {
    width: 30%;
    text-align: center;
    padding: 0 12px;
}

.row-3 span {
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 35px 0;
}

.row-3 h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.row-3 p {
    color: #6d6d6d;
    line-height: 1.5;
}

.fourth-sec {
    width: 100%;
    height: 400px;
    background: url(./img/bg-img6.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.fifth-sec {
    padding: 30px 12px 115px 12px;
}

.title-box {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.title-box h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 18px;
    margin: 0;
    text-align: center;
}

.title-box h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.team-content {
    padding: 20px 25px;
}

/* .team-content:hover .team-content p,
.team-content h4,
.team-content span,
.team-social i {
    color: #ffffff;
    transition: all 5s;
    background: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
} */

.team-content h4 {
    font-size: 24px;
    font-weight: 500;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.team {
    display: flex;
}

.team-box {
    width: 50%;
}

.team-block {
    width: 50%;

}

.team-block li {
    width: 50%;
}

.team-block img {
    width: 100%;
    display: block;
}

.team-block-content {
    position: relative;
    z-index: 1;
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.3s;
    z-index: -1;

}

.team-block:hover .team-overlay {
    /* left: 0; */
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.team-block:hover .team-img img {
    transform: scale(1.2);
    transition: ease-in-out 0.3s;
}

.team-img {
    overflow: hidden;
}


.team-block:hover .team-content h4,
.team-block:hover .team-content span,
.team-block:hover .team-content p,
.team-block:hover .team-content i {
    color: #fff;
}

.team-block:hover .team-content i:hover {
    color: blue;
    background: white;
    border-radius: 50px;
}


.team-content span {
    margin-bottom: 4px;
    font-weight: 500;
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Poppins', sans-serif;
}

.team-content p {
    color: #6d6d6d;
    line-height: 1.5;
    letter-spacing: 1px;
}

.team-social {
    margin-top: 16px;
}

.team-social i {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    font-size: 17px;
    margin-right: 1px;
    color: #9a9a9a;
    border: 1px solid transparent;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.team-block {
    display: flex;
    background: #fbfbfb;
    width: 100%;
}

.sixth-sec {
    background: #f8f9fa;
    position: relative;
    padding: 0 12px;
    z-index: -1;
}

.portfolio {
    height: 1400px;
    width: 100%;
    display: flex;
    margin: 0 12px;
}

.port-side {
    width: 50%;
}

.overlay {
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    /* text-align: center;
    padding: 45px 0 66px 0; */
    position: absolute;
    left: 18px;
    top: 19px;
    opacity: 0;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out 0.5s;
}

.portfolio-img:hover .overlay {
    opacity: 0.7;
}

.overlay i {
    font-size: 60px;
    margin-bottom: 16px;
}

.overlay h4 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

.portfolio-padding {
    padding: 12px 0;
}


.portfolio img {
    width: calc(100% - 40px);
    border: 20px solid #fff;
}

.portfolio-img {
    position: relative;
    margin-bottom: 20px;
    width: 500px;
}

.portfolio-content {
    width: 500px;
}

.portfolio-content-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-content-inner p {
    font-size: 15px;
    margin: 0;
    padding: 20px 0;
    color: #6d6d6d;
}

.portfolio-content-inner h2 {
    font-weight: 600;
    font-size: 5.625rem;
    line-height: 1;
    color: #00bcd4;
    margin: 0;
}

.view-all-work {
    color: #ffffff;
    font-size: 14px;
    padding: 9px 34px;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
}

.view-all-work:hover {
    background: linear-gradient(to right, #7202bb 0%, #3264f5 51%, #7202bb 100%);

}

.seventh-sec {
    padding: 0 15px;
}

.planning {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-check,
.fa-times {
    font-size: 10px;
    font-weight: 800;
}

.fa-check {
    color: #63be11;
}

.fa-times {
    color: #e04645;
}

.starter h3 {
    font-size: 1.75rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
}

.starter p {
    color: #6d6d6d;
}



.planning-price h3 {
    color: #00bcd4;
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

.starter ul {
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    color: #232323;
}


.planning-price sup {

    font-size: 1.2rem;
}

.starter i {
    padding-right: 5px;
}

.starter {
    margin-left: 12px;
    padding: 4rem;
    background: #f8f9fa;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.starter-hover-1:hover {
    background-color: #00bcd4;

}

.starter-hover-2:hover {
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
}


.starter-hover-1:hover h3,
.starter-hover-1:hover p,
.starter-hover-1:hover span,
.starter-hover-1:hover ul,
.starter-hover-1:hover .fa-check,
.starter-hover-1:hover .fa-times {
    color: white;
}

.starter-hover-2:hover h3,
.starter-hover-2:hover p,
.starter-hover-2:hover span,
.starter-hover-2:hover ul,
.starter-hover-2:hover .fa-check,
.starter-hover-2:hover .fa-times {
    color: white;
}

.btns {
    background: #00bcd4;
    border-color: #00bcd4;
    color: #ffffff;
    cursor: pointer;
}

.starter-hover-1:hover .get-started-btn {
    background: white;
    color: black;
    border: 1px solid white;
}

.starter-hover-2:hover .get-started-btn {
    color: black;
    background: white;
    border: 1px solid white;
}

.starter-hover-1:hover .get-started-btn:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.starter-hover-2:hover .get-started-btn:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.h3-grad {
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: transparent; */
}




.testimonial {
    display: flex;
    flex-direction: row;
}

.testimonial-side {
    width: 50%;
}

.testimonial-content p {
    line-height: 1.5;
    max-width: 607px;
    margin: 0 auto;
    color: #6d6d6d;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

.testimonial-img img {
    border-radius: 50%;
    width: 20%;
    margin-bottom: 24px;
}

.testimonial-content {
    text-align: center;
    padding: 112px 12px;
    background: #f8f9fa;
}

.testimonial-side i {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testimonial-side-img {
    background: url(./img/bg-img1\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    z-index: -1;

}

.testimonial-overlay {
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
}

.testimonial-img h5 {
    color: #00bcd4;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.eighth-sec {
    margin-top: 7rem;
}

.testimonial-img span {
    font-size: 13px;
    font-weight: 400;
    color: #9c9c9c;
}

.testimonial-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.testimonial-row {
    max-width: 500px;
    margin: 0 auto;
    height: 606px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.count {
    width: 50%;
    text-align: left;
}

.count h2 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #ffffff;
}

.count h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}

.count-main {
    display: flex;
    flex-direction: row;

}

.mobile-app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feature {
    width: 33%;
}

.feature-box {
    text-align: center;
    padding: 0 12px;
}

.feature-box i {
    font-size: 38px;
    margin-bottom: 24px;
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease-in-out;

}

.feature-box h4 {
    font-size: 1.5rem;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
    margin-top: 0;
    font-weight: 500;
}

.feature-box p {
    /* margin: 0; */
    color: #6d6d6d;
    padding: 0 12px
        /* text-align: center; */
}

.mobile-img__wrapper {
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.relative {
    width: 55%;
    height: auto;
}

.absolute {
    position: absolute;
    width: 47%;
    top: 12%;
    left: 26%;
}

/* .back-img {
    width: 100%;
    max-width: 280px;
} */

/* .feature-img {
    position: relative;
    text-align: center;
}

.top-img {
    position: absolute;
    top: 66px;
    left: 72px;
    width: 100%;
    max-width: 234px;
} */

.feature-box:hover i {
    transform: translateY(-5px);
}

.ninth-sec {
    padding-bottom: 7rem;
}

.blog {
    display: flex;
    flex-direction: row;
}

.blog-item {
    width: 50%;

}

.blog-item h6 {
    color: #00bcd4;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.blog-item h2 {
    margin-top: 0;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
}

.blog-item p {
    max-width: 720px;
    margin: 0 auto;
    color: #6d6d6d;
    letter-spacing: 1px;
    line-height: 1.5;
    padding: 0 12px;
}

.blog {
    display: flex;
    flex-direction: column;
}

.blog-side {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.blog-item-padding {
    text-align: center;
    background: #f8f9fa;
    padding: 6rem 0px;
}

.blog-item img {
    width: 100%;
    height: 100%;
}

.learn-more-btn-blog {
    cursor: pointer;
    margin-top: 24px;
    font-size: 14px;
    color: white;
    padding: 9px 34px;
    line-height: 25px;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: 0.3s;
    background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%);
}

.learn-more-btn-blog:hover {
    background: linear-gradient(to right, #7202bb 0%, #3264f5 51%, #7202bb 100%);

}

.blog-item-bgimg {
    position: relative;
    /* width: 100%; */
    height: 450px;
    background: url(./img/address-image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 !important;

}

.blog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    opacity: 0.8;
}

.blog-content {
    position: relative;
    padding: 55px 0;
}

.blog-content h6,
.blog-content h2,
.blog-content p {
    color: white;
}

.blog-content p {
    margin-bottom: 16px;
}

.blog-content li {
    display: inline-block;
}

.blog-content i {
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 17px;
    margin: 4px;
    line-height: 40px;

}

.blog-content i:hover {
    background-color: #ffffff;
    color: #4267B2;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}


.form-group input {
    width: 90%;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 12px 0;
    background: #fff;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: #a5a5a5;
    font-size: 14px;

}

input::placeholder {
    color: #e2e2e2;
}

textarea::placeholder {
    color: #e2e2e2;
}

.blog-type {
    width: calc(50% - 10px);
    padding: 15px 5px;
}

textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    min-height: 160px;
    resize: none;
    padding: 12px 5px;
    background: #fff;
    letter-spacing: 0.5px;
    font-weight: 300;
    color: #a5a5a5;
    font-size: 14px;
}

textarea:focus,
input:focus {
    outline: none;
}

.blog-item-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;

}

footer {
    padding: 7.5rem 0;
}

.ft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ft li {
    display: inline-block;
}

.ft i {
    cursor: pointer;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 17px;
    margin: 10px 5px;
    border: 1px solid transparent;
}

.ft p {
    font-size: 13px;
    color: #6d6d6d;
}

.ft i:hover {
    color: white;
    background: #00bcd4;
}